:root {
  --color-primario: #1f4e79;     
  --color-secundario: #2d9494;   
  --color-acento: #66c7c7;      
  --color-fondo: #f5f9fa;        
  --color-texto: #333333;        
}
body{    
    margin:0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-primario);
    color: white;
    padding: 1rem;
}

.header img{
    margin-right: 10px;
    border-radius: 15px;
}

.header h1{
    margin-right: 500px;
}

.header h3{
    margin-right: 450px;
    font-size: 25px;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#menu{
    width: 30px;
}
#menu ul li{
    position: relative;
    width: 100%;
    font-size: 30px;
    float: left;
    margin: 0;
    padding: 0;
}
#menu ul li:hover{
    background-color: #545457;
}
#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #eee;
    padding: 0;
}
#menu ul ul li{
   float: none;
   width: 150px;
   background-color: #2e518b;
}
#menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}
#menu ul li:hover > ul{
    display: block;
}
#overley{
    text-align: center;
}