<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trambot</title>
        <link rel="icon" type="image/webp" href="{{ url_for('static', filename='img/logotipo.webp') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/perfil.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    </head>
    <body>
        <header class="header" id="header">
            <img src="{{ url_for('static', filename='img/logotipo.webp') }}" height="50" width="50">
            <h1>Trambot</h1>
            <h3 id="paginactual">Perfil</h3>
            <nav id="menu">
                <ul>
                    <li>☰
                        <ul>
                            <li><a href="{{ url_for('catalog.index') }}">Inicio</a></li>
                            <li><a href="{{ url_for('catalog.servicio') }}">Servicios</a></li>
                            <li><a href="{{ url_for('catalog.contactos') }}">Contacto</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="{{url_for('catalog.logout')}}"><button class="sesion">Cerrar Sesión</button></a>
        </header>
        <main>
            <div class="contenedor-main">
                <div class="usuario">
                    <img src="{{url_for('static', filename='img/logotipo.webp')}}" class="fotito" alt="foto de">
                    <div class="columnas">
                        <h3>Datos de Usuario</h3>
                        <p>Nombre de usuario:(vue)</p>
                        <p>Edad:</p>
                        <p>Dirección:</p>
                        <p>DNI: </p>
                    </div>
                </div>
                <div class="info-extra"></div>
                <div class="datos-usuario"></div>
                
            </div>

        </div>
        </main>
        <footer class="footer">
            <div class="ubicacion">
                <h2>Nuestra ubicacion</h2> 
                <div id="map"></div>
            </div>
            <div class="redes">
                <h2>Nuestras redes sociales</h2>
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="contacto">
                <h2>Formas de contacto</h2>
                <p>Email: trambot@gmail.com</p>
                <p>Num:+34 638 49 34 82</p>            
            </div>
            <div class="elementos">
                <p>© 2025 Trambot. Todos los derechos reservados. - <a href="#">Aviso legal</a> - <a href="#">Politica de cookies</a> - <a href="#">Terminos de uso</a> </p> 
            </div>
        </footer>
        <script src="{{ url_for('static', filename='JavaScript/scripts.js') }}"></script>

    </body>
</html>