<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header class="header" id="header">
        <img src="{{ url_for('static', filename='img/logotipo.webp') }}" height="50" width="50">
        <h1>Trambot</h1>
        <h3 id="paginactual">Perfil</h3>
        <nav id="menu">
            <ul>
                <li>☰
                    <ul>
                        <li><a href="{{ url_for('catalog.index') }}">Inicio</a></li>
                        <li><a href="{{ url_for('catalog.servicio') }}">Servicios</a></li>
                        <li><a href="{{ url_for('catalog.contactos') }}">Contacto</a></li> 
                        <li><a href="{{url_for('catalog.logout')}}">Cerrar Sesión</a></li> 
                    </ul>
                </li>
            </ul>
        </nav>
        <button class="sesion" href="#">Iniciar Sesion</button>
    </header>
    <body>
        
    </body>
</body>
</html>