* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contenedor {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px #00000059;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.contenedor p {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 20px 0;
}

.contenedor span {
    font-size: 12px;
    color: #333;
    cursor: pointer;
}

.contenedor a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.contenedor button {
    background-color: #512da8;
    color: #fff;
    font-size: 14px;
    padding: 12px 45px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.contenedor button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.contenedor form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contenedor input {
    background-color: #f6f5f7;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    font-size: 13px;
    width: 100%;
    border-radius: 8px;
    outline: none;
}

.form-contenedor {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.contenedor-iniciar-sesion {
    left: 0;
    width: 50%;
    z-index: 2;
}

.contenedor.active .contenedor-iniciar-sesion {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.contenedor-alternar {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 150px 100px 0;
    z-index: 100;
}

.contenedor.active .contenedor-alternar {
    transform: translateX(-100%);
}

.contenedor-alternar{
    border-radius: 0 0 0 0;

}

.alternar {
    background-color: #512da8;
    color: #fff;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.contenedor.active .alternar {
    transform: translateX(50%);
}

.alternar-izquierda,
.alternarderecha {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

.toggle-izquierda {
    transform: translateX(-200%);
}

.contenedor.active .toggle-izquierda {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-derecha {
    right: 0;
    transform: translateX(0);
}

.contenedor.active .toggle-derecha {
    transform: translateX(200%);
    transition: all 0.6s ease-in-out;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 10px;
}

.contenedor-registrar {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.contenedor.active .contenedor-registrar {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
